{
"Name": "Monzo-Ingest-OAuth-Client",
"Client ID": "",
"Owner ID": "user_00009LcBVoRVmNxmntgyll",
"Created at": "31/05/2019, 20:58:18",
"Confidential": "true",
"Status": "NEW",
"Client secret": "",
"Redirect URLs": "http://localhost:2020"
}